{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block body %}

<style>
    
    .card{
        display: flex;
        flex-direction: row;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .capital{
        text-transform: uppercase;
    }

    .div{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    .div a{
        color: black;
        margin-left: 2rem;
        margin-right: 2rem;
        text-decoration: none;
    }

    .div  .active{
        color:blue;
        text-decoration: underline;
    }
</style>

<div class="container text-center my-5">
    <h1>Welcome to Patient HomePage.</h1>
    
</div>

<div class="div">
    <a href="{% url 'patient_home' %}">Home</a>
    <a href="{% url 'mental_health' %}" >Mental Health</a>
    <a href="{% url 'heart_disease' %}" >Heart Disease</a>
    <a href="{% url 'covid_19' %}" >Covid 19</a>
    <a href="{% url 'immunization' %}" class="active">Immunization</a>
</div>

<!-- <nav class="text-center">
    <ul class="pagination text-center">
      <li class="page-item"><a class="page-link" href="#">Mental Health</a></li>
      <li class="page-item" aria-current="page">
        <a class="page-link" href="#">Heart Disease</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">Covid 19</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Immunization</a>
      </li>
    </ul>
  </nav> -->


    {% for post in posts %}
    {% if post.is_draft == False %}
    <div class=" container">
    {% if post.category == "Immunization" %}
    <div class="card mx-3 my-5"  style="width: 78rem; height: 35rem;">
        <img src="{{post.image.url}}" class="card-img-top" style=" width: 43rem; height: 35rem;">
        <hr>
        <div class="card-body">
          <h3 class="card-title capital text-center mb-3 mt-3">{{post.title}}</h3>
          <p class="mb-4 text-center">(<small>{{post.category}}</small>)</p>
          <p class="card-text mb-4 mx-2">{{post.content}}</p>
          <h5 class="card-title mb-3">Summary</h5>
          <p class="card-text mx-2"><i>{{ post.summary|truncatewords:15 }}</i></p>
         
        </div>
      </div>
      {% endif %}
      </div>
    {% endif %}
    {% endfor %}


    



{% endblock %}